
    /*!background: #0E4CA8;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0c479e;
    font-family: Arial, sans-serif;
}

header{
    background-color: #041d42;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

nav div:last-child{ 
    display: flex;
    gap: 30px;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

nav a:hover{
    color: #468df7;
}

nav img{
    width: 200px;
    min-width: 150px;
}

p{
    color: white;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width:1200px;

    margin: auto;

    padding: 80px 45px;
    position: relative;
}

.hero-texto{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;

}

.hero-imagen{
    width: 50%;
    position: relative;
    height: 500px;
}

.conejo{
    max-width: 300px;
    position: absolute;
    top: 100px;
    right: 100px;
}

.comunidad-rosa{
    display:none/*
    max-width: 300px;
    position: absolute;
    bottom: -350px;
    right: -115px;*/
}